body
{
    font-family: 'Open Sans', sans-serif;
}
.text-primary
{
    color:#FD6E0A;
}
.btn-primary
{
    background-color:#FD6E0A;
    border-radius: 5px;
    border:0;
    color:#fff;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 35px;
      
}
.header
{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right; /*y axis first  */
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.Website-title
{
    font-size: 45px;
    font-weight: 800;
}
/*To ensure that both the nav element and the nav ul element 
have the same flex layout and alignment properties. */
nav ul
{
    display: flex;
    align-items: center;
}
nav ul li
{
    list-style: none;
    margin-right: 50px;
}
nav a 
{
    text-decoration: none;
    color:#474747;
}
.banner
{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}
.banner img
{
    width: 500px;
    
}
.banner-content
{
    max-width: 500px;
}
.banner-gritty
{
    font-size: 45px;
}
.banner-title
{
    font-size: 70px;
    font-weight: 700;
}
main
{
    max-width: 1140px;
    margin: 0 auto;

}
.about
{
    background: #FFF8F3;
    padding: 50px;
    border-radius: 10px;
    margin: 130px 0;

}
.section-title
{
    text-align: center;
    margin-bottom: 0;
}
.about-info-container
{
    display: flex;
    justify-content: space-evenly;
}
.about-inf
{
    text-align: center;
    
}
.info-title
{
    margin-bottom: 0;
}
.info-description
{
    margin-top: 0;
}
#what-I-do
{
    padding: 30px 150px;
    margin-top: 0;
}
.what-I-Do-Section
{
    padding: 50px;
    background: #FFF8F3;
}
.skills-container
{
    
    display: flex;
    gap: 24px;
}
.skills
{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
}
.resume-column-title
{
    color: #474747;
    font-weight: 700;
}